<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      class="btn btn-link"
    >Home page</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>28.03.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse commodi temporibus dolore ullam eum cupiditate obcaecati consectetur dolores, non nam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse commodi temporibus dolore ullam eum cupiditate obcaecati consectetur dolores, non nam.</p>
  </div>
</div>
