<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="submit()">
  <h2>Login to Admin Panel</h2>

  <div
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">
        Required field
      </small>
      <small *ngIf="form.get('email').errors.email">
        Enter correct email
      </small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control"
  >
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
    <small *ngIf="form.get('password').errors.required">
      Required field
    </small>
    <small *ngIf="form.get('password').errors.minlength">
      Password min length is
      {{form.get('password').errors.minlength.requiredLength}}
    </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid"
    >Login</button>

</form>
