<div *ngIf="!loading; else loader">
  <div class="form-control">
    <input type="text" placeholder="Find a post..." [(ngModel)]="searchString">
  </div>
  <table *ngIf="posts.length; else empty">
    <thead>
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let post of posts | searchPosts:searchString; let idx = index">
        <td>{{idx + 1}}</td>
        <td>{{post.author}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date | date:'medium'}}</td>
        <td>
          <button
            class="btn btn-link btn-open"
            [routerLink]="['/admin', 'post', post.id, 'edit']"
          >
            Open
          </button>
          <a (click)="remove(post.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #empty>
    <div class="text-center">
      <p class="mb15">You do not have any posts yet</p>
      <a class="btn btn-dark"[routerLink]="['/admin', 'create']"> Create post</a>
    </div>
  </ng-template>
</div>

<ng-template #loader>
  <p class="text-center">Loading...</p>
</ng-template>
