<div
  *ngIf="posts$ | async as posts; else loading"
  class="posts">
  <div *ngIf="posts.length; else empty">
    <app-post *ngFor="let post of posts" [post]="post">

    </app-post>
  </div>
  <ng-template #empty>
    <div class="text-center">
      <p class="mb15">You do not have any posts yet</p>
      <a class="btn btn-dark"[routerLink]="['/admin', 'login']"> Add your first post</a>
    </div>
  </ng-template>

</div>

<ng-template #loading>
  <p class="text-center">Loading posts...</p>
</ng-template>
